<% content_for :jumbotron do %>
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4"> <%= @coach_view ? "Ses" : "Mes" %> roues de la vie </h1>
      <p class="lead"> <%= @user.email %> </p>
      <p class="lead d-flex">
        <%= link_to "Retour sur #{@coach_view ? "son" : "mon"} profil", user_path(current_user), class: "btn btn-outline-primary btn-lg" %>
      </p>
    </div>
  </div>
<% end %>

<!-- container -->
<div class="container">

  <% unless @coach_view %>
    <h4> Faire une nouvelle roue ? </h4>

    <%= form_with(url: "/users/#{@user.id}/wheel_values/new", method: "get", local: true) do %>
      Choisir un modèle <%= select_tag(:wheel_model_id, options_for_select(@wheel_model_options)) %> et c'est parti 
      <%= submit_tag "Faire une roue !", class: "btn btn-success" %>
    <% end %>
  <% end %>

  <h4 class="my-4"> <%= @coach_view ? "Son" : "Mon" %> historique </h4>

  <!-- row -->
  <div class="row">

    <!-- wheel_value -->
    <% @wheel_values.each do |wheel_value| %>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> <%= wheel_value.wheel_model.name %> </h5>
            <p class="card-text"> Date : <%= l wheel_value.created_at %> </p>
            <%= link_to "Voir la roue", user_wheel_value_path(@user, wheel_value), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
    <!-- /wheel_value -->

  </div>
  <!-- /row -->

</div>
<!-- /container -->
