<% content_for :jumbotron do %>
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4"> Création d'une nouvelle roue de la vie </h1>
      <p class="lead"> Modèle utilisé : <%= @wheel_value.wheel_model.name %> pour <%= @wheel_value.user.email %></p>
      <p class="lead">
        <%= link_to "Retour sur mes roues", user_wheel_values_path(@user), class: "btn btn-outline-primary btn-lg" %>
      </p>
    </div>
  </div>
<% end %>
<!-- container -->
<div class="container">

  <% if @wheel_value.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <p>La création de la roue de la vie n'a pu aboutir pour les raisons suivantes : </p>
    </div>
    <div class="alert alert-warning" role="alert">
      <ul>
        <% @wheel_value.errors.full_messages.each do |message| %>
          <li> <%= message %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# <%= form_with model: [@user, @wheel_value], local: true do |form| %>
    <%= form_with(url: "/users/#{current_user.id}/wheel_values", method: "post", local: true) do |form| %>

      <%= form.hidden_field :wheel_model_id, value: "#{@wheel_model.id}" %>

      <div class="form-group row">
        <div class="col-6 col-lg-3"> Axe </div>
        <div class="col-3 col-lg-1"> Actuel </div>
        <div class="col-3 col-lg-1"> Objectif </div>
        <div class="col-12 col-lg-6">Commentaire </div>
      </div>

      <% @wheel_model.labels.each_with_index do |label, index| %>

        <div class="form-group row">
          <div class="col-6 col-lg-3 my-1"> <%= label %> </div>
          <div class="col-3 col-lg-1 my-1">
            <%= form.select 'current_values[]', options_for_select((0..@wheel_model.maximum).map { |i| [i.to_s,i] }, @wheel_value.current_values[index]), {multiple: true} %>
          </div>
          <div class="col-3 col-lg-1 my-1">
            <%= form.select 'goal_values[]', options_for_select((0..@wheel_model.maximum).map { |i| [i.to_s,i] }, @wheel_value.goal_values[index]), {multiple: true} %>
          </div>
          <div class="col-12 col-lg-7 my-1">
            <%= form.text_field 'comments[]', value: @wheel_value.comments[index], class: "form-control" %>
          </div>
        </div>

      <% end %>

      <div class="actions row">
        <%= form.submit "Valider", class: "btn btn-success btn-block col-6 col-lg-3 my-2" %>
      </div>

    <% end %>

  </div>
  <!-- /container -->
