<% content_for :jumbotron do %>
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4"> Ma roue de la vie </h1>
      <p class="lead"> Version du <%= l @wheel_value.created_at %> </p>
      <p class="lead">
        <%= link_to "Retour sur mes roues", user_wheel_values_path(@user), class: "btn btn-outline-primary btn-lg" %>
      </p>
    </div>
  </div>
<% end %>

<div class="container">

  <h1> Détails de la roue de la vie </h1>

  <p> Modèle : <%= link_to @wheel_value.wheel_model.name, wheel_model_path(@wheel_value.wheel_model) %> </p>
  <p> Date : <%= l @wheel_value.created_at %> </p>
  <%= content_tag(:div, '',
    data: { "wheel-value-id": @wheel_value.id.to_s, "user-id": @user.id.to_s },
  class: "wheel-value-graph col-12 lg-col-8") %>

  <div class="actions row">
    <%= link_to "Supprimer cette roue de la vie", user_wheel_value_path(@user, @wheel_value), data: {confirm: "Etes-vous sûr ?"}, method: :delete, :class => "btn btn-danger btn-block col-6 col-lg-3 my-2" %>
  </div>

</div>
